
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">



    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/templatemo-chain-app-dev.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/animated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/owl.css') }}">
<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
    <link rel="icon" href="static/favicon1.png" type="image/png" sizes="16x16">
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>

      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="static/assets/images/logo.png" alt="Chain App Dev">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->


            <ul class="nav">
              <li class="scroll-to-section"><a href="{{ url_for('main.index') }}" class="active">Home</a></li>
             
              
              
             
              <li><div class="gradient-button"><a id="modal_trigger" href="{{ url_for('auth.login') }}"><i class="fa fa-sign-in-alt"></i> LogIn</a></div></li>
            </ul>        
            <br>
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->




  
 


  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.10s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2 class="title" style="color:blue; ">Flight Operations </h2>
                    <p>
                    <img src="static/assets/images/engine.gif" alt="Computer man" style="width:200px;height:150px;">
                    </p>

                  </div>
                  <div class="col-lg-12">
                    
                    <div class="white-button scroll-to-section">
                      <a href="https://www.nt.com.pk" >NT WebSite <i class="fab fa-google-play"></i></a>

                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="static/assets/images/slider-dec.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  



    <div class="container" >
      <div class="row">

          <div class="section-heading" style=" text-align: center;">
            <h4 style="color:blue; ">Northern Technik Pvt Ltd.</h4>

        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                
              </div>
              
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4 style="color:black; ">Contact Us</h4>
            <p style="color:blue; " class="white-button scroll-to-section">AUG-09 Block A, Spring Homes  Khokhar Road Rawalpindi</p>
            <p><a href="#" style="color:blue; ">+92 336 6992651</a></p>
            <p><a href="#" style="color:blue; ">imrandawntv@gmail.com</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4 style="color:black; ">About Us</h4>
            <ul>
              <li><a href="#" style="color:black; ">Home</a></li>
              
            </ul>
           
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4></h4>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
           
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4 style="color:black; ">About Our Company</h4>

            <p style="color:blue; ">Northern Technik pioneered the Aircraft Line Maintenance Services in the private sector in Pakistan.
</p>
          </div>
        </div>


 



        <div class="col-lg-12">
          <div class="copyright-text" style=" text-align: center;">
            <p style="color:red; "><b>Copyright © <b style="color:black; ">Northern Technik Pvt Ltd.</b> All Rights Reserved.</b>
                  <brpricing-table-01.png><br>
          Developed By: <a href="#" target="_blank" title="#" style="color:blue; "><b>Imran Awan</b></a>
        </p>
          </div>
        </div>
      </div>
    </div>



  <!-- Scripts -->
  <script src="{{url_for('static',filename="vendor/jquery/jquery.min.js")}}"></script>
  <script src="{{url_for('static',filename="vendor/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
  <script src="{{url_for('static',filename="assets/js/owl-carousel.js")}}"></script>
  <script src="{{url_for('static',filename="assets/js/animation.js")}}"></script>
  <script src="{{url_for('static',filename="assets/js/imagesloaded.js")}}"></script>
  <script src="{{url_for('static',filename="assets/js/popup.js")}}"></script>
  <script src="{{url_for('static',filename="assets/js/custom.js")}}"></script>
</body>
</html>